<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Travel Blog - View Blogs!</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
 

  <!-- Custom fonts for this template -->

  <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->

  <link href="{{ url_for('static', filename='personal-blog.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='templates.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('.index') }}">View Blogs</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.add') }}">Add POST</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->

  <header class="masthead"style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Travel</h1>
            <span class="subheading">Live With No Excuses Travel With No Regrets!</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="post-preview">
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
         {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('.post', post_id=post.id) }}">
            <h2 class="post-title"style="color:#0D8499;">
               &#8680  {{ post.title }} 
            </h2>
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>

          <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
          <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
            Comment
          </button>

        </div>
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>


  <!--Default Content  -->
  
  <div class="container">
    <div class="row">
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title"style="color:#0D8499;" >
               &#8680 AIRBNB HOST
            </h2>
            <h3 class="post-subtitle">
               Wouldn’t it be great if you had something that could help you get closer to an early retirement? Something that could help
              you make extra money to put away towards a life of financial independence? If you own a house or an apartment, you could
              become an Airbnb host and list out the entire place when you are away or just a room when you're there. Airbnb properties
              are now in 191 countries. And did you know that the fastest growing demographic of Airbnb hosts are women over 60? Not to
              mention they are getting some of the highest 5-star reviews.
            </h3>
          </a>
          <p class="post-meta">Posted by Collins on April 19th 2016</p>

          <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
          <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
            Comment
          </button>

        </div>

            <div class="post-preview">
              <h2 class="post-title"style="color:#0D8499;">
               &#8680 TRAVEL APPS
              </h2>
              <h3 class="post-subtitle">
                 Travel apps can really enhance the experience and ease of travel. These travel apps are the ones you use when you're on
                your trip, not for the pre-planning. There are tons of travel apps to help you find the best airfare or the best hotel. These
                apps represent the most useful when you walk out your door to the airport until you come home. These are the top ten I use
                on just about every trip I take. Not all are free but when it comes to a good app, I have no problem paying for it. Most
                apps are cheap so splurge a little when you find something you really like. Paying for an app may just remove those annoying
                ads that pop up or give you that extra functionality that makes the app so much more useful. I bolded either free or the
                price depending on what I use.

              </h3>
              </a>
              <p class="post-meta">Posted by Collins on April 18th 2016</p>

              <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
              <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
                Comment
              </button>

            </div>

              <div class="post-preview">
                <h2 class="post-title"style="color:#0D8499;">
                 &#8680 UBER (FREE)
                </h2>
                <h3 class="post-subtitle">
                   I think just about everyone has heard of Uber. But did you know that Uber operates Internationally? Uber is almost always
                  cheaper than a taxi and can be so much easier to get. I also like that I don’t have to worry about having money in the currency
                  of the country I just arrived in. No money exchanges hands. It’s all done via your credit card. I used Uber not only in the
                  US but also Ecuador and Ireland. Have Uber installed on your phone and set up with a credit card before you travel. The only
                  thing that bothers me is that some Uber drivers feel they need to call you. It’s happened to me only in big cities in the
                  US. For me, it’s a problem because I don’t have a US phone. I really don’t know why they want to call. Most of the time it’s
                  to tell you they are on their way and the car they are driving. But I already know that because the app tells me. It’s just
                  one of those little things that bug me. But overall, Uber is my number one option for local travel when traveling.
              
                </h3>
                </a>
                <p class="post-meta">Posted by Collins on April 17th 2016</p>

                <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
                <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
                  Comment
                </button>

              </div>

        <hr>
      </div>
    </div>
  </div>


  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Collins 2018</p>
        </div>
      </div>
    </div>
  </footer>

 </body>

</html>

